 
   .thumbnail{
    width: 100%;
    margin-top: 0px;
    margin-left: 0;
   }

   .video-title{
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
   }
   

   .div-example{
    display: inline-block;
   }

   .thumbnail-1{
    width: 100%;
    margin-top: 0 px;
    
   }

   .div-example2{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;

   }
   .video-title2{
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
   }
   .video-author2,
   .video-stats2{
    display: inline-block;
   }

   .video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-family: roboto,arial;
    font-size:12px ;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;

   }

   .video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
   }

   .video-info-grid2{
    display: grid;
    grid-template-columns: 50px 1fr;
   }

   .channel-pic1{
      display: inline-block;
      width: 50px;
      vertical-align: top;
   }
   .video-info1{
      display: inline-block;
      width: 200px;
    }

    .channel-pic2{
      display: inline-block;
      width: 50px;
      vertical-align: top;
    }
    .video-info2{
      display: inline-block;
      width: 200px;
    }

    .profile-pic1{
      width: 36px;
      border-radius: 50px;
    }
    .profile-pic2{
      width: 36px;
      border-radius: 50px ;
    }

    .thumbnail-row1{
      margin: 12px;
      position: relative;
      margin-bottom: 8px;
    }
    .thumbnail-row2{
      margin: 12px;
      position: relative;
      margin-bottom: 8px;
    }

    .video-author{
      font-size: 12px;
      color: #606060 ;
      margin-bottom: 4px;
    }
    .video-author2{
      font-size: 12px;
      color: #606060;
      margin-bottom: 4px;
    }
    .video-stats{
      font-size: 12px;
      color: #606060;
    }
    .video-stats2{
      color: #606060;
      font-size: 12px;
      display: block;
      
    }
    .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
    }